{% extends "layout.html" %}
{% block body %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg')}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Admin Panel</h1>
                    <span class="subheading">Edit your post</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<!-- Main Content -->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1>Edit Post</h1>

            <a href="/dashboard"><button class="btn btn-secondary">Back to Dashboard</button></a>
            <a href="/logout"><button class="btn btn-danger">Logout</button></a>
            <hr>

            <form id="editPostForm" action="/edit/{{ post.sno }}" method="POST" enctype="multipart/form-data">
                <div class="form-floating">
                    <input class="form-control" name="title" id="title" type="text" placeholder="Title" required
                        value="{{ post.title if post else '' }}" />
                    <label for="title">Title</label>
                </div>

                <div class="form-floating">
                    <input class="form-control" name="slug" id="slug" type="text" placeholder="Slug" required
                        value="{{ post.slug if post else '' }}" />
                    <label for="slug">Slug</label>
                </div>

                <div class="form-floating">
                    <textarea rows="7" class="form-control" name="content" id="content" placeholder="Content" required>{{ post.content or '' }}</textarea>
                    <label for="content">Content</label>
                </div>

                <!-- Display Current Image -->
                    {% if post.img_file %}
                        <div class="mb-3">
                            <label>Current Image:</label>
                            <br>
                            <img src="{{ url_for('static', filename='assets/img/' + post.img_file) }}" alt="Post Image" style="max-width: 200px;">
                        </div>
                    {% endif %}
                <div class="form-floating">
                    <input class="form-control" name="img_file" id="img_file" type="file" accept="image/*" placeholder="Image File" />
                    <label for="img_file">Upload New Image(optional)</label>
                </div>
                <br>
                <button class="btn btn-primary text-uppercase" type="submit">Update</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
